.createPostContainer{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    border: 1px solid lightslategrey;
    background-color: lightyellow;
    padding: 10px;
    position: fixed;
    top: 100px;
    right: 10px;
}

.uploadButton{
    border: 1px solid black;
}
.postProgressBar{
    width: 100%;
}