*{
  margin: 0px;
}
* > Button{
  border: 1px solid lightgray;
}
.App {
  text-align: center;
  background-color: #fafafa;
  height: 100vh;
}
.signupForm{
  display: flex;
  flex-direction: column;
}
.appHeader {
  display: flex;
  object-fit: contain;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.loginContainer{
  margin: 5px;
}
