*{
  margin: 0px;
}
.App {
  text-align: center;
  background-color: #fafafa;
  height: 100vh;
}
.appHeader {
  display: flex;
  object-fit: contain;
  flex-direction: column;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}